body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Create two unequal columns that floats next to each other */

.left {
  width: 75%;
}

.right {
  width: 15%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  padding-left: 10%;
}
.boxs {
  padding: auto;
}

/* NavBar */
.nav-logo {
  margin-left: 200px;
}

.nav-button {
  margin-right: 200px;
}

/* Home Page */
.like span {
  margin-left: 5px;
  font-size: 15px;
}

.post-profile {
  display: flex;
  text-align: center;
}

.post-profile .post-profile-img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
